.box-layout {
  background: url("/images/bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-layout__box {
  background: fade-out($color: white, $amount: 0.15);
  border-radius: 3px;
  text-align: center;
  padding: $l-size $m-size;
  width: 26rem;
}
.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
